/* 
    Document   : style
    Created on : 14/03/2012, 11:59:44 AM
    Author     : jrong
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
        border: 5px solid #3e3e3e;
        border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
        border: 5px solid #fff;
        border-width: 5px 5px 20px;
        color: #fff;
}
#gallery ul a:hover { color: #fff; }